.header {
	background-color: black;

}

.content {
	width: 80%;
	margin: 0 auto;
	padding: 1% 0px;
}

.film {
  
  max-width: 56%;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1% 0;
}
.logo::before {
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	content: 'Richbee Shows';
}

.headerSearch {
	width: 50%;
	margin: 0;
}
.headerSearch input {
	width: 100%;
  height: 100%;
  padding: 14px 0 14px 14%;
  border: 1px solid #1B1919;
  border-radius: 30px;
  outline: none;
  background: #1B1919;
  color: #FAC539;
  font-family: Montserrat;
	font-size: 18px;
	line-height: 22px;
}

.headerSearch button {
  position: absolute; 
  top: 0;
  left: 	10px;
  width: 10%;
  height: 100%;
  border: none;
  background: #1B1919;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
  color: #5F5F5F;;
  font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.headerSearch button:hover {
	color: #FAC539;
}

.description {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), 80%, rgba(0, 0, 0, 1));
}
.descriptionPoster {
}
.tags {
  padding: 0px;
  font-size: 16px;
  line-height: 140%;
  flex-wrap: wrap;
}
.tagsPosition {
	margin-bottom: 135px;
}

.ratingPosition {
	margin-right: 24px;
	padding-right: 24px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #FBFBFB;
	display: inline; 

}
/*.genresitem :last-child  {
  border-right: 1px solid #FBFBFB; 
  margin-bottom: 10px;
}*/

.ratingMargin {
	margin-bottom: 15px;
}
.filmTitle {
	margin: 80px 0 30px 0;
}
.buttonWatch {
	background: transparent;
	min-width: 199px;
  height: 64px;
  border: 2px solid #FAC539;
	box-sizing: border-box;
	border-radius: 40px;
  margin-bottom: 50px;
  color: white;
  cursor: pointer;
}

.buttonWatchText {
	padding: 23px 69px;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	color: #FBFBFB;
	overflow: hidden;
}

.awardFilm {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #FBFBFB;
	max-width: 433px;

}

.page {
	background-color: #FFFFFF;
}
.pageTitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 52px;
	color: #323232;
	text-align: start;
	margin: 50px 0 30px 0;
}
.pageDetails {
	max-width: 800px;

}

.ratingDetails {
  display: inline-block;
  max-height: 50px;
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 14px;
  background-color: #FAC539;
  color: black;
  font-weight: 700;
}
.ratingDetails p {
	margin: 6px;
}
.pageDescription {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #323232;

}

.pageDescriptionPosition {
	margin-bottom: 60px;
}
.alsoLike {
	font-weight: 900;
	font-size: 24px;
	line-height: 52px;
	color: #323232;

}

.alsoLikePosition {
	margin-bottom: 19px;
	text-align: start;
}
.descriptionPoster {
	background-size: cover;
	background-position: center;
}
.similar {
	width: 23%;
	border-radius: 18px;
	background-size: cover;
	background-position: center;
	margin-bottom: 3%;
	height: 310px;
}

.similar:hover {
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.similar .info {
	visibility: hidden;
}

.similar:hover .info {
	visibility: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 310px;

}

.similarsBox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.similarsBoxPosition {
	margin-bottom: 60px;
}
.similar img {
	max-width: 263px;
	height: auto;
}

.similarImgHover {
	width: 263px;
	height: 361px;
	background: black;
}
.similarTitle {
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	color: #FEFEFE;
	margin: 1% 0;
	text-align: center;

}
.similarItem {
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	color: #FAC539;
	padding-right: 10px;
	margin: 0px;
	border: 1px solid #fefefe8f;
	border-radius: 8px;
	padding: 4px 10px;
	text-align: center;
  display: block;


}
.similarDescription {

	height: 73px;
  overflow: hidden;
  text-overflow: ellipsis;

	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	margin: 3% 1%;
	text-align: center;
}
.infoSimilarSize {
	padding: 3%;
}
.similarList {
	padding-left: 0;
}
.nowrap {
	white-space: nowrap;
}

@media (max-width: 1200px){
	.similar {
		width: 33%;
		max-height: 310px;
	}

}

@media (max-width: 992px){
	

	.film {
		max-width: 75%;
	}
	.filmTitle {
		font-size: 57px;
	}
	.ratingPosition{
		font-size: 22px;
	}
	.headerSearch input {
		padding: 14px 0 14px 17%;
		font-size: 16px;
	}
	.headerSearch button {
		font-size: 16px;
	}
}
@media (max-width: 768px){
	.similar {
    width: 48%;
    max-height: 370px;
  }
  .filmTitle {
    font-size: 40px;
    margin: 50px 0 30px 0;
	}
	.ratingPosition {
    font-size: 20px;
	}
	.buttonWatch {
		min-width: 160px;
    height: 55px;
	}
	.buttonWatchText {
		font-size: 21px;
		padding: 0;
		font-weight: 500;
	}
	.awardFilm{
		font-size: 16px;
	}
	.pageTitle {
		font-size: 30px;
		line-height: 45px;
		margin: 40px 0 30px 0;
	}
	.pageDescription {
		font-size: 14px;
		line-height: 25px;
	}
	.pageDescriptionPosition {
    margin-bottom: 40px;
	}
}
@media (max-width : 576px){
	
	.nav {
		padding: 3% 0;
	}
	.film {
		max-width: 95%;
	}
	.similar {
    width: 80%;
    max-height: 380px;
  }
  .similarsBox {
  	justify-content: space-around;
  }
  .alsoLikePosition{
  	text-align: center;
  	margin-top: 0;
  }
  .logo::before {
		font-size: 14px;
		content: 'Richbee Shows';
	}
	.headerSearch input {
		font-size: 14px;
		width: 100%;
		padding: 8px 0 8px 17%;
	}
	.headerSearch button {
		font-size: 14px;
		left: 3%;
	}
	.headerSearch {
		width: 75%;
		margin-left: 20px;
	}
	.filmTitle {
    font-size: 35px;
    margin: 35px 0 25px 0;
	}
	h1 {
    line-height: 45px;
	}
	.ratingPosition {
    font-size: 16px;
    margin-right: 14px;
    padding-right: 14px;
	}
	.awardFilm {
    font-size: 14px;
    font-weight: 400;
	}
	.buttonWatch {
    min-width: 140px;
    height: 45px;
	}
}
