main {
	color: #FEFEFE;
	font-family: 'Montserrat', sans-serif;
}


h1 {
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 88px;
}

h2 {
	font-size: 64px;
	text-align: center;
	font-weight: 900;
}
h3 {
	font-size: 36px;
	text-align: center;
	font-style: normal;
	line-height: 52px;
	font-weight: 500;
}
h4 {
	font-weight: 700;
	font-size: 24px;
	margin: 0;
	margin-right: 1%;
}

a {
	background-color: transparent;
	color: #FEFEFE;
	text-decoration: none;
}

a:hover {
  color: #f9c546;
}

.list {
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	width: 50%;
  margin: 0 auto;
}
.positionH2 {
	padding-top: 15%;
	margin-top: 0;
	margin-bottom: 4%;
}
.positionH3 {
	margin-bottom: 10%;
}
.container  {
	/*background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1), 80vh, rgba(0, 0, 0, 1)), url(../../img/fon.png);*/
	background-repeat: no-repeat;
	background-color: #000;
	width: 100%;
  min-height: 100vh;
}

.field {
	height: 550px;
	width: 730px;
	margin: 0 auto;
}

.element {
	width: 100%;
	background: #222222ed;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 20px;
	display: flex;
  align-items: center;
}
.info {
	width: 100%;
}
 
.infoPosition {
	padding: 30px 30px;

}

.poster {
	height: 141px;
	width: 95px;
	margin: 15px;
	background-size: cover;
	display: inline;
  float: left;
}
.poster img {
	max-width: 95px;
	height: auto;
	border-radius: 8px;
}

.infoList {
	margin: 0 0 15px 0; 
	padding: 0;

}
.infoItem {
	display: inline; 
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

}
.positionItemRight {
  padding-right: 10px; 
}
.positionItemLeft {
	padding-left: 10px;
}

.borderItem {
  border-right: 1px solid #FBFBFB; 
}

.line {
	border: 1px solid rgba(255, 255, 255, 0.05);
	margin-right: 20px;
	margin-top: 15px;
}
.award {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	max-width: 296px;
	color: #FBFBFB;
}

.titleAndRating {
	display: flex;
	justify-content: space-between;
	/*padding-top: 30px;*/
	padding-right: 20px;
	margin-bottom: 12px;
}
.rating {
	background-color: #FAC539;
	height: 30px;
	width: 87px;
	padding: 7px 12px;
  border-radius: 8px;
}

.rating p {
	font-weight: 900;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	margin: 0;
}

.textButtonPosition {
	margin-right: 8px;
}

.container-video {
  position: relative;
  min-height: 100vh;
  max-height: 800px;
  overflow: hidden;
}

.video {
  min-height: 100vh;
}

.content-video {
  position: absolute;
  top: 0;
  color:#f1f1f1;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1), 80vh, rgba(0, 0, 0, 1));
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.subContent {
  text-align: center;
  padding: 10px;
}
.subContent p {
  color: #eeeeeead;
  font-size: 1.3rem;
}

.subContent img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  border: #f1f1f1 1px solid;
}

@media (max-width: 1200px){
  .container{
    background-color: black;
  }
  .list {
		width: 70%;
	}
}

@media (max-width: 992px){
	.titleAndRating {
		padding-right: 5%;
    margin-bottom: 3%;
    align-items: center;
	}

	.list {
		width: 70%;
	}

	h4 {
		font-size: 18px;
	}
	.infoItem {
		font-size: 13px;
	}
	.rating {
		height: 25px;
    width: 68px;
    padding: 5px 8px;
	}
	.rating p {
		font-size: 10px;
	}
	.award {
		font-size: 10px;
	}

}

@media (max-width: 768px){
  .field {
		height: 450px;
		width: 75%;
		margin: 0 auto;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 18px;
	}

	.titleAndRating {
		padding-right: 4%;
    margin-bottom: 2%;
	}
	.list {
		width: 75%;
	}

	h4 {
		font-size: 16px;
	}
	.infoItem {
		font-size: 10px;
	}
	.rating {
		height: 20px;
    width: 60px;
    padding: 3px 4px;
	}
	.rating p {
		font-size: 9px;
	}
	.award {
		font-size: 9px;
	}
	.infoPosition {
		padding: 15px 0;
	}
}

@media (max-width : 576px){
  .field {
		width: 90%;
	}
	.list {
		width: 90%;
	}
	.container-video {
		background-image: url(../../img/fon.png);
	}
	.video {
		display: none;
	}
}
