body {
  margin: 0;
}
* {
	box-sizing: border-box;
}

form {
  position: relative;
  width: 76%;
  margin: 0 auto;
}

.searchForm {
	margin: 0 auto;
}

.searchForm input {
  width: 555px;
  height: 50px;
  padding: 14px 0 14px 28px;
  border: 1px solid #4EA7F9;
  border-radius: 30px;
  outline: none;
  background: #FEFEFE;
  color: black;
  font-family: Montserrat;
	font-size: 18px;
	line-height: 22px;
}
.searchForm button {
  position: absolute; 
  top: 0;
  right: 	0px;
  width: 120px;
  height: 50px;
  border: none;
  background: #4EA7F9;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}
.searchForm button:before {
  content: "Search";
  font-family: Montserrat;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #FEFEFE;

}